
<script src="../app-routing.module.ts"></script>
<div class="container-fluid pt-4 px-4">
  <h4> Purpose(s):</h4>
  <p *ngFor="let pros of processing.purpose"> {{pros.description}}</p>

  <div class="bg-light text-center rounded p-4">
  <table class="table table-borderles">
    <thead class="table-light">
    <tr>
      <th scope="col" ></th>
      <th scope="col" *ngFor="let header of headers">{{ header }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of processing.dataUsages">
        <th scope="row">{{row.data.attribute}}</th>
      <td ><input type="checkbox" class="form-check-input" [checked]="row.c" disabled></td>
      <td ><input type="checkbox" class="form-check-input"[checked]="row.r" disabled></td>
      <td ><input type="checkbox" class="form-check-input"[checked]="row.u"disabled></td>
      <td ><input type="checkbox" class="form-check-input" [checked]="row.d"disabled></td>
      <!--<th scope="row">{{ row.title }}</th>
        <td ><input type="checkbox" class="form-check-input" [checked]="processing.isCreatable" disabled></td>
        <td ><input type="checkbox" class="form-check-input"[checked]="processing.isReadable" disabled></td>
        <td ><input type="checkbox" class="form-check-input"[checked]="processing.isModifiable"disabled></td>
        <td ><input type="checkbox" class="form-check-input" [checked]="processing.isDeleted"disabled></td>-->
    </tr>
    </tbody>
  </table>
  </div>
</div>

