
.btn {
  margin-left: 10px; /* Ajouter une marge à gauche pour le bouton */
}

.container {
  margin-left: 20px; /* Ajouter une marge autour du conteneur */
}

.form-group{
  margin: 20px;
}

.table{
  margin: 20px;
}



